.answer td {
    border: 2px solid black;
    text-align: center;
    font-family: monospace;
    font-size: 14pt;
}

.Pip:before {
    text-decoration: line-through;
    content: "ПИПу";
}

.Header {
    font-family: monospace;
    color: #45688E;
}

.Header * {
    margin-top: 5px;
}

.Header h1 {
    font-size: 25pt;
    color: darkblue;
}

.Header h2 {
    font-size: 18pt;
}

.Header h3 {
    font-size: 14pt;
    color: #5E81A8;
}

.Header h4 {
    font-size: 14pt;
    color: cornflowerblue;
}

.bold {
    font-weight: bold;
}

.Blue:focus-within {
    background: #45688E;
}

.button {
    background-color: transparent; color: black;
}

.active {
    color: #45688E;
}
.error {
    font-family: monospace;
    color: red;
}